<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Resume Maker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/javascript.js"></script>
  </head>
  <body>
    <header class="h_color" id="head">
      <div class="text-left">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo">
                <h2>RESUME MAKER</h2>
                <p>Attractive resumes Download and Use Now!</p>
              </div>
              <div class="nav_button_right">
                <a class="btn btn-primary" href="#popup1">Add your Data</a>
                <input
                  type="button"
                  onclick="printDiv()"
                  class="btn btn-warning"
                  value="Print Resume"
                />
                <a class="btn btn-info" href="resume_template"
                  >More Resume Templates</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!DOCTYPE html>
    <html lang="fr">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CV de Duc Nguyen</title>
        <!-- Ajoutez ici vos liens vers les fichiers CSS et JavaScript -->
      </head>
      <body>
        <section id="resume_1">
          <div class="container">
            <div class="resume_1">
              <div class="row">
                <div class="col-md-3" style="float: left">
                  <img
                    src="../static/img/resume_1/photo_nouhayla.jpg"
                    width="150px"
                    height="auto"
                    alt="Photo de Nouhayla ED-DARRAZ"
                  />
                </div>
                <div class="col-md-12">
                  <div>
                    <h1 id="uname">Nouhayla ED-DARRAZ</h1>
                    <p style="text-align: justify" id="uabout">
                      Étudiante en Bachelor en IA & data analyse à l'École
                      d’Informatique EPSI, passionnée par le développement web
                      et l'intelligence artificielle.
                    </p>
                  </div>
                </div>
                <div class="col-md-3" style="float: left">
                  <img
                    src="../static/img/resume_1/about_us_icon.png"
                    width="40px"
                  /><span style="padding: 12px; font-weight: 600"
                    >À PROPOS DE MOI</span
                  >
                </div>
                <div
                  class="col-md-9"
                  style="
                    border-top: rgb(130, 146, 238) solid 1px;
                    margin-top: 20px;
                    float: right;
                  "
                ></div>
                <div class="col-md-12" style="margin-top: 25px">
                  <div style="margin-bottom: 50px">
                    <div class="col-md-4" style="float: left">
                      <img
                        src="../static/img/resume_1/birthday.png"
                        width="30px"
                      /><span style="padding: 12px; font-weight: 600" id="udob"
                        >26 Juin 1998</span
                      >
                    </div>
                    <div class="col-md-8" style="float: left">
                      <img
                        src="../static/img/resume_1/phone.png"
                        width="30px"
                      /><span
                        style="padding: 12px; font-weight: 600"
                        id="uphnum"
                        >06 26 11 84 32</span
                      >
                    </div>
                  </div>
                  <div>
                    <div class="col-md-4" style="float: left">
                      <img
                        src="../static/img/resume_1/location.png"
                        width="30px"
                      /><span
                        style="padding: 12px; font-weight: 600"
                        id="ulocation"
                        >Nanterre</span
                      >
                    </div>
                    <div class="col-md-8" style="float: left">
                      <img
                        src="../static/img/resume_1/email.png"
                        width="30px"
                      /><span
                        style="padding: 12px; font-weight: 600"
                        id="uemail"
                        >derraze.nouhayla.il.esisa@gmail.com</span
                      >
                    </div>
                  </div>
                </div>
                <!-- Ajoutez les autres sections de la même manière en remplaçant les données existantes par celles de Nouhayla -->
                <div class="col-md-12" style="margin-top: 40px">
                  <h3>EXPÉRIENCE PROFESSIONNELLE</h3>
                  <p>
                    Juin – Sept. 2023 AMAL PLANCHER – KENITRA – Dev. Full Stack
                  </p>
                  <ul>
                    <li>
                      Collecter les exigences et les spécifications du projet.
                    </li>
                    <li>Créer une architecture adaptée pour la plateforme.</li>
                    <li>
                      Conception approfondie et mise en œuvre réussie d'une
                      application complète basée sur la technologie MERN
                      (MongoDB, Express.js, React.js, Node.js).
                    </li>
                    <li>
                      Gestion détaillée du stock, des commandes, du personnel,
                      et intégration d'un module de gestion des factures.
                    </li>
                    <li>
                      Gérer de manière autonome le projet MERN, en respectant
                      les délais et en atteignant les objectifs.
                    </li>
                    <li>
                      Tester et déboguer le site pour assurer son bon
                      fonctionnement.
                    </li>
                  </ul>
                </div>
                <div class="col-md-12" style="margin-top: 40px">
                  <h3>COMPÉTENCES</h3>
                  <p>PhP, C/C++, Framework Java, SGBDR, HTML/CSS</p>
                </div>
                <div class="col-md-12" style="margin-top: 40px">
                  <h3>LANGUE</h3>
                  <p>Anglais, Français, Arabe</p>
                </div>
                <div class="col-md-12" style="margin-top: 40px">
                  <h3>FORMATION</h3>
                  <p>
                    2023 - 2024 Ecole d’Informatique EPSI – Bachelor en IA et
                    Data Science.
                  </p>
                  <p>
                    Juil – Sept. 2022 WE BREATHE SOCIAL– MOHAMMEDIA – Dev. Full
                    Stack
                  </p>
                  <ul>
                    <li>
                      Réalisation d’une application de stock & des achats en
                      sauvegardant les données de clients.
                    </li>
                    <li>Modélisation et conception de données.</li>
                    <li>Technologies utilisées : C# .Net, Bannifo et SQL.</li>
                  </ul>
                  <p>
                    2020 - 2023 École Supérieure d'Ingénierie en Sciences
                    Appliquées (ESISA) – Licence en génie logiciel.
                  </p>
                  <p>2019 - 2020 Baccalauréat – Sciences Physique-Chimique.</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Ajoutez ici vos autres sections, balises, et contenu HTML comme nécessaire -->
      </body>
    </html>

    <div id="popup1" class="overlay">
      <div class="popup">
        <div class="container">
          <h4>RESUME TEMPLATES</h4>
          <a class="close" href="#">&times;</a>
          <div class="row">
            <div class="col-md-12">
              <p>Choose your own style to make resume</p>
            </div>
            <div class="col-md-12">
              <h5>PERSONAL INFORMATION</h5>
            </div>
          </div>

          <form class="needs-validation" novalidate>
            <div class="form-row form-group">
              <div class="col-md-4">
                <label for="name">Full name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Full name"
                  required
                />
                <div class="invalid-feedback">Enter your Full name.</div>
              </div>
              <div class="col-md-4">
                <label for="dob">Date Of Birth</label>
                <input
                  type="date"
                  class="form-control"
                  id="dob"
                  placeholder="enter your dob"
                  required
                />
                <div class="invalid-feedback">Enter your date of birth.</div>
              </div>
              <div class="col-md-4">
                <label for="email">Email Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="enter your email"
                  required
                />
                <div class="invalid-feedback">Enter your email address.</div>
              </div>
              <div class="col-md-4">
                <label for="phnum">Phone number</label>
                <input
                  type="text"
                  class="form-control"
                  id="phnum"
                  placeholder="enter your phone number"
                  required
                />
                <div class="invalid-feedback">Enter your phone number.</div>
              </div>
              <div class="col-md-4">
                <label for="city">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  placeholder="enter your city."
                  required
                />
                <div class="invalid-feedback">Enter your city.</div>
              </div>
              <div class="col-md-4">
                <label for="city">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="state"
                  placeholder="enter your state."
                  required
                />
                <div class="invalid-feedback">Enter your state.</div>
              </div>
              <div class="col-md-12">
                <label for="ucareerob">Career Objective</label>
                <textarea
                  rows="5"
                  class="form-control"
                  id="ucareerob"
                  placeholder="enter your Career Objectives."
                  required
                ></textarea>
                <div class="invalid-feedback">Enter your career Objective.</div>
              </div>
              <div class="col-md-12">
                <label for="uaboutself">About your Self</label>
                <textarea
                  rows="5"
                  class="form-control"
                  id="uaboutself"
                  placeholder="enter about your self"
                ></textarea>
                <div class="invalid-feedback">Enter about you.</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>EDUCATION DETAILS</h5>
              </div>
              <div class="col-md-6">
                <label for="city">Course / Graduation</label>
                <input
                  type="text"
                  class="form-control"
                  id="course"
                  placeholder="Enter your course name."
                />
                <div style="color: red; display: none" id="co_err">
                  **enter Course.
                </div>
              </div>
              <div class="col-md-6">
                <label for="city">College / Institute</label>
                <input
                  type="text"
                  class="form-control"
                  id="college"
                  placeholder="Enter your college name."
                />
                <div style="color: red; display: none" id="col_err">
                  **enter College.
                </div>
              </div>
              <div class="col-md-4">
                <label for="city">Graduated Month</label>
                <select class="form-control" id="month">
                  <option>Please select One..</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
                <div style="color: red; display: none" id="select_month_err">
                  **select the month.
                </div>
              </div>
              <div class="col-md-4">
                <label for="city">Graduated Year</label>
                <input
                  type="number"
                  min="1990"
                  max="2060"
                  class="form-control"
                  id="year"
                  placeholder="Enter year."
                />
                <div style="color: red; display: none" id="year_err">
                  **enter valid year.
                </div>
              </div>
              <div class="col-md-2">
                <label></label>
                <input
                  type="button"
                  value="Add data"
                  style="width: 100%; margin-top: 8px"
                  class="btn"
                  onclick="addcourse()"
                />
              </div>
              <div class="col-md-2">
                <label></label>
                <input
                  type="button"
                  value="Delete data"
                  style="width: 100%; margin-top: 8px"
                  class="btn"
                  onclick="myDeleteFunction()"
                />
              </div>
              <div class="col-md-12" style="padding: 20px">
                <table
                  id="education_data"
                  style="width: 100%; margin-top: 12px"
                ></table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>ACHIEVEMENTS</h5>
              </div>
              <div class="col-md-6">
                <label for="achivement">Achievements</label>
                <textarea
                  rows="4"
                  class="form-control"
                  id="achivement"
                  placeholder="enter your achievement.."
                ></textarea>
                <div style="color: red; display: none" id="achivement_err">
                  **enter achievement.
                </div>
              </div>
              <div class="col-md-3">
                <label></label>
                <input
                  type="button"
                  value="Add achievement"
                  style="width: 100%; margin-top: 8px"
                  class="btn"
                  onclick="addache()"
                />
              </div>
              <div class="col-md-3">
                <label></label>
                <input
                  type="button"
                  value="Delete achievement"
                  style="width: 100%; margin-top: 8px"
                  class="btn"
                  onclick="achivementDeleteFunction()"
                />
              </div>
              <div class="col-md-12" style="padding: 20px">
                <table
                  id="acheivement_data"
                  style="width: 100%; margin-top: 12px"
                ></table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>PERSONAL SKILLS</h5>
              </div>
              <div class="col-md-6">
                <label for="skills">Personal Skills </label>
                <textarea
                  rows="4"
                  class="form-control"
                  id="skills"
                  placeholder="enter your achievement.."
                ></textarea>
                <div style="color: red; display: none" id="skills_err">
                  **enter your skills.
                </div>
              </div>
              <div class="col-md-3">
                <label></label>
                <input
                  type="button"
                  value="Add skills"
                  style="width: 100%; margin-top: 8px"
                  class="btn"
                  onclick="addskills()"
                />
              </div>
              <div class="col-md-3">
                <label></label>
                <input
                  type="button"
                  value="Delete skills"
                  style="width: 100%; margin-top: 8px"
                  class="btn"
                  onclick="skillsDeleteFunction()"
                />
              </div>
              <div class="col-md-12" style="padding: 20px">
                <table
                  id="skill_data"
                  style="width: 100%; margin-top: 12px"
                ></table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h5>PERSONAL DETAILS</h5>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col-md-4">
                <label for="fname">Father's Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="enter your father's name"
                  required
                />
                <div class="invalid-feedback">Enter your Full name.</div>
              </div>
              <div class="col-md-4">
                <label for="mname">Mother's Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="mname"
                  placeholder="enter your Mother's name"
                  required
                />
                <div class="invalid-feedback">Enter your date of birth.</div>
              </div>
              <div class="col-md-12">
                <label for="paddress">Permanent Address</label>
                <textarea
                  rows="4"
                  class="form-control"
                  id="paddress"
                  placeholder="enter your address.."
                  required
                ></textarea>
                <div class="invalid-feedback">**enter address.</div>
              </div>
            </div>

            <div style="margin-bottom: 20px">
              <button class="btn btn-primary" type="submit">Submit form</button>
              <a href="#" class="btn btn-danger">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="../static/js/jquery-2.1.3.js"></script>
    <script src="../static/js/my.js"></script>
  </body>
</html>
